.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* heading styles */
.main-place-title {
    margin: 1rem auto;
    text-align: center;
}

.main-place-title h2 {
    margin-bottom: 1.5rem;
    font-size: 2rem;
}



/* list styles */


.place {
    text-align: center;
    font-weight: bold;
    margin-top: 0.2rem;
    margin-bottom: 0.2rem;
    cursor: pointer;
}

.place:hover {
    text-shadow: 0 0 1rem rgb(255, 253, 156);
    transition: 0.3s ease-in-out;
}

.place span {
    padding-left: 0.4rem;
    color: rgb(255, 214, 9);
}


@media screen and (max-width: 820px) {
    .places {
        justify-items: center;
    }
}