* {
    padding: 0;
    margin: 0;

}

.footer {

    background-color: white;
    color: black;
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;

}

.footer h2 {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.footer h3 {

    padding-bottom: 1rem;
    border-bottom: 0.2rem solid black;

}